// color variables

$black: rgb(44, 44, 44);
$darkGreyBlue: rgb(40, 94, 100);
$orangeyYellow: rgb(246, 168, 35);
$grey: rgb (79, 79, 79);
$accent: rgb(5, 175, 193);
$rustRed: rgb(168, 39, 6);
$whiteShade: rgb(240, 239, 237);
$whiteText: rgb(246, 246, 246);
$accentOpaque: rgba(5, 175, 193, 0.5);



