// contact page
main.contact {
  background-color: $whiteShade;

    div.wrapper {
      flex-wrap: wrap;

     div.contactText {
      flex: 1 1 315px;
      background-color: white;
      // max-width: 350px;
      height: 280px;
      margin: 60px 15px 0 15px;
    
        nav.icons {
          ul {
            justify-content: flex-start;
            margin-left: 0;
            padding-left: 15px;
            li {
              padding: 40px 15px 20px 15px;
            }
              a {
                font-size: 1.6rem;
                color: $orangeyYellow;
              }
          }
        }
        address {
          font-style: normal;
          padding-left: toRem(30);
          padding-bottom: toRem(30);
            span {
              display: block;
              font-size: 1.3rem;
              font-weight: bold;
            }
        }
     }
     form {
       flex: 1 1 60%;
       margin: 58px 15px 50px 15px;
     }

    }
}
//end of contact page main styles