
form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    input[type="text"],
    input[type="email"] {
      flex: 1 1 50%;
    }
    textarea, button {
      flex: 1 1 100%;
    }

    button {
      background-color: $accent;
      text-transform: uppercase;
      padding: 10px;
    }

}