
form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $whiteShade;
    input[type="text"],
    input[type="email"] {
      flex: 1 1 210px;
      height: 65px;
      padding-left: 20px;
      border: none;
      margin: 8px 4px;
      font-style: italic;
      }
  
    textarea {
      flex: 1 1 100%;
      resize: none;
      padding: 20px 0 0 20px;
      border: none;
      margin: 10px 4px;
      font-style: italic;
    }

    button {
      flex: 1 1 100%;
      background-color: $accent;
      padding: 10px;
      margin: 0 4px;
    }

}