::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}



form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $whiteShade;
  margin-bottom: 45px;
    input[type="text"],
    input[type="email"] {
      flex: 1 1 210px;
      height: 80px;
      padding-left: 20px;
      border: none;
      margin: 8px 6px;
      }
  
    textarea {
      flex: 1 1 100%;
      resize: none;
      padding: 20px 0 0 20px;
      border: none;
      margin: 10px 6px 15px 6px;
    }

    button {
      flex: 1 1 100%;
      background-color: $accent;
      padding: 12px;
      margin: 0 4px;
      border: none;
    }
    button:hover, button:focus {
      background-color: $accentOpaque;
      font-weight: bold;
    }

}