// skip link
.skipToContentLink {
  left: 10%;
  position: absolute;
  transform: translateY(-100%);
}
.skipToContentLink:focus {
  transform: translateY(0%);
}
// hamburger menu
// .hamburger.menu {
//   opacity: 0;
//   position: absolute;
//   left: -100px;
// }

// hamburger nav
nav.hamburger { 
  background-color: $whiteShade;
  position: absolute;
  ul{
    display: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    li{
      text-transform: uppercase;
      line-height: toRem(29);
      padding: 20px;
      a {
        letter-spacing: toRem(1);
        text-decoration: none;
        color: $black;
        font-size: 20px;
      }
      a:hover {
        border-bottom: 3px solid $orangeyYellow;
      }
    }
  }
}

// hamburger menu button
  button.hamburger {
    i {
      position: absolute;
      z-index: 999;
      top: 15px;
      left: 15px;
      color: $black;
      font-size: 1.5rem;
      padding: 5px;
    }
    .fa-times{
      display: none;
      background-color: $orangeyYellow;
    }
  }

// header nav styles
nav.wrapper {
  justify-content: center;
  padding-top: 10px;
  ul:not(.hamburger) {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      text-transform: uppercase;
      line-height: toRem(29);
      padding: 20px;
      a {
        letter-spacing: toRem(1);
        text-decoration: none;
        color: $black;
        font-size: 20px;
      }
      a:hover, a:focus {
        border-bottom:  3px solid  $whiteShade ;
      }
      a.white {
        color: $whiteText;
        font-size: 20px;
      }
      h5 {
        margin: 0;
      }
      &:nth-of-type(3){
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    
  }
}


//media queries
@media (max-width: 940px) {

}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header>nav ul li {
      padding: 20px 10px;
    }
}
// switch to hamburger menu header
@media (max-width: 624px){
header{
  .hamburger.menu {
    opacity: 1;
    left: 20px;
  }
} 
  
 header>nav.wrapper ul {
   li :not(li>h5){
     opacity: 0;
     position: absolute;
     left: -100px;
   }
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {

}