$robotoFont: 'Roboto', sans-serif;
$loraFont: 'Lora', serif;


html {
  font-family: $robotoFont;
  font-size: 100%;
  font-weight: 400;
  line-height: toRem(32);
  letter-spacing: toRem(1);
  color: $black;
}

h1, h2, h3, h4, h5, button {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-family: $loraFont;
  font-size: toRem(80);
  line-height: toRem(92);
  letter-spacing: toRem(0);
}

h2, h3, h4, h5 {
  font-size: toRem(42);
}

h3 { 
  font-size: toRem(32);
}

h4, h5 {
  font-size: toRem(24);
}

h5 {
  font-family: $loraFont;
}

p {
  font-size: toRem(20);
  letter-spacing: toRem(0);
}


