// sass variables or functions (put up here if any are used in the partials)

// googled convert px to rem and found this site where I got the function from https://dev.to/nikolab/convert-px-to-rem-using-sass-3-methods-4ep2

@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}


// sass partials 
@import "setup";
@import "colors";
@import "textStyling";
@import "forms";
@import "footer";
@import "headerNav";
@import "blog";
@import "contact";


// put sass variables here if they use anything from the partials
@mixin buttonAnchors {
  margin: 0;
  padding: 10px 25px;
  background-color: $accent;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: toRem(1);
}

@mixin buttonAnchorsHover {
  background-color: $accentOpaque;
}

@mixin roundIcons {
  background-color: $orangeyYellow;
  border-radius: 50%;
  font-size: 1.3rem;
  position: absolute;
  left: -70px;
  top: 35px;
  padding: 15px;
}



// general styles
// body
// got this suggestion from stackoverflow to get rid of horizontal scroll when I couldn't figure out what was causing it; not sure if it's best practice
// body{
//     overflow-x:hidden;
// }
// wrapper
.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

//image styles
img {
  width: 100%;
  display: block;
}

// header styles
header {
  background-color: $orangeyYellow;
}

// home page styles
// home page header
header.home {
  
  .wrapper {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  
  div.wrapper:nth-child(2) {
    padding-top: 40px;
    justify-content: space-between;
    width: 90%;
  }

  
  .title {
    // flex: 1 2 40%;
    position: relative;
    h1 {
      position: relative;
      padding-left: 5rem;
    }
    img.text {
      top: -67px;
      position: absolute;
      width: 40%;
    }
  }

  .headerImage {
    width: 40%;
    margin-bottom: toRem(-50);
    // flex: 2 1 60%;
    img {
      box-shadow: 20px 20px white;
    }
  }
}

//home page main styles
main.home {
  // about section
  .about {
    background-color: $whiteShade;
    .wrapper {
      display: flex;
      flex-direction: column;
      padding: 9% 5% 140px 5%;
      a.button {
        @include buttonAnchors;
        align-self: flex-start;
      }
      a.button:hover,
      a.button:focus {@include buttonAnchorsHover};
    }
  }
  // favourites section
  .favourite {
    display: flex;
    .favouriteImage {
      flex: 1 1 50%;
      background-color: $rustRed;
      position: relative;
      // height: 50%;
      margin-bottom: 2%;
      img {
        max-width: 650px;
        position: absolute;
        right: 20px;
        bottom: 26px;
      }
      }
    .favouriteText {
      flex: 2 1 50%;
      padding: 5%;
      a.button {
        @include buttonAnchors;
        width: 175px;
      }
      a.button:hover,
      a.button:focus {@include buttonAnchorsHover};
    }
  }
  // travels section
  .travels {
    display: flex;
    padding-top: 60px;
    .travelsText {
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;
      padding: 4% 7% 100px 5%;
      text-align: right;
      padding-top: 0px;
      a.button {
        @include buttonAnchors;
        align-self: flex-end;
      }
      a.button:hover,
      a.button:focus {@include buttonAnchorsHover};
    }
    .travelsImage {
      flex: 2 1 50%;
      background-color:$orangeyYellow;
      position: relative;
      margin-top: 1%;
      margin-bottom: -5%;
      img {
        position: absolute;
        max-width: 650px;
        top: -20px;
        left: -20px;
      }
    }
  }
  // detailed links section
  .detailedLinks {
    background-color: $whiteShade;
    margin-top: -50px;
    padding-top: 100px;
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 60px;
      padding: 80px 0 40px 40px;
      .grid {
        position: relative;
        a {
          text-decoration: none;
          position: relative;
          color: $black;
          padding-top: 11px; 
        }
        i {
          @include roundIcons;
        }
      }
      .about, .contact{
        padding-left: 20px;
      }

      .photos, .blog {
        padding-right: 50px;
      }
        .grid {
          h3 {
            padding-top: 10px;
          }
        }
    }
  }

  // figure 
    figure {
      margin: 0;
      background-color: $whiteShade;
      img{
        margin: 0 auto;
      }
    }
  // journey section
  .journey {
    background-color: $whiteShade;
    padding-top: 100px;
    padding-bottom: 30px;
    .journeyImage {
    flex: 2 1 30%;
    position: relative;
    background: orange;
    height: 280px;
    max-width: 280px;
    margin-top: 2%;
      img {
        position: absolute;
        max-width: 280px;
        top: -20px;
        left: -20px;
      }
    }
    .journeyText {
    flex: 1 1 65%;
    padding: 0 0 7% 100px;
    p {
      padding: 15px 0
    }
      a.button {
        @include buttonAnchors;
      }
      a.button:hover,
      a.button:focus {@include buttonAnchorsHover};
    }
  }
  // gallery section
  .gallery {
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 40px;
      padding: 80px 0;
    }
  }
}
//end of home page main styles





//media queries
//laptop
@media (max-width: 1280px){
  //reduce  h1 font-size 
  header.home .wrapper .title h1{
  font-size: 5.7rem;
  }
  main.home {
    // reduce text size NEED TO MAKE SMALLER
    h2 {font-size: 2.15rem;}
    h3 {font-size: 1.65rem;}
    p {font-size: 1.15rem;}
    //reduce img size and margin
    .favourite {
      .favouriteImage {
        margin-top: -1%;
        margin-bottom: 3%;
        img {
          width: 85%;
          bottom: 35px;
        }
      }
      .favouriteText {
        padding: 5% 5% 5% 6%;
      }
    }
    .travels {
      .travelsImage {
        margin-bottom: 0%;
        img {
          width: 85%;
        }
      }
    }
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  //home page
  // reduce size of header and text image 
  header.home .wrapper {
    display: flex;
    width: 90%;
    .title {
      h1 {
        font-size: 5rem;
        padding-right: 3rem;
      }
      .text {
      width: 37%;
      top: -45px;
      }

    }
  }
  main.home {
    // reduce text size
    h2 {font-size: 2.1rem;}
    h3 {font-size: 1.6rem;}
    p {font-size: 1.1rem;}
    // adjust padding of sections
    .about .wrapper {
      padding: 12% 5% 130px 5%;
    }
    // change flex direction to make containers stack on top of each other
    .favourite {
      flex-direction: column;
      .favouriteText {
        padding: 60px 50px 0 50px;
      } 
      .favouriteImage img {
        position: relative;
        right: 0;
        width: 75%;
      }
    }
    .travels {
      flex-direction: column-reverse;
      .travelsText{
        padding: 60px 65px 70px 45px;
      }
      .travelsImage {
        margin-top: 30px;
        img {
          position: relative;
          left: 43px;
          width: 75%;
        }
      }
    }  
    // clear padding and margin for section
    .detailedLinks {
      margin-top: 0;
      padding-top: 0;
    }
    // adjust spacing of section
    .journey {
      .wrapper {
        width: 90%;
        .journeyText {
          padding-bottom: 44px;
          padding-left: 5%;
          flex-basis: 60%;
        }
        // hide image container 
        .journeyImage {
         display: none;
        }
      }
    }
  }   
}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  //home page
  // reduce fontsize of h1 and img.text
  header.home .wrapper .title{
    h1{
      font-size: 4rem;
      padding-top: 2rem;
    }
    .text {
      width: 33%;
      top: 12px;
      left: 25px;
    }
  }
  // change flex direction so images and text are in columns
  main.home {
    .about .wrapper{padding-right: 0;}
    .favourite{
      flex-direction: column;
      .favouriteImage img {
        position: relative;
        width: 75%;
      }
    }
    .travels {
      flex-direction: column-reverse;
      .travelsImage img {
        position: relative;
        width: 75%;
      }
      .travelsText {
        padding-top: 50px;
        padding-bottom: 100px;
      }
    }
    // change grid to column so all detailed links are above each other
    .detailedLinks {
      padding-top: 0;
      // padding-left: 20px;
      .wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
        // padding-left: 35px;
        .grid {
          padding: 0;
          p {
            padding-right: 0;
          }
        }
      }
    }
    .journey {
      padding-top: 55px;
        .journeyText {
          padding-left: 0;
          padding-bottom: 30px;
        }
        // hide img as there are other images above and below
        .journeyImage {
          display: none;
        }
      }
  }
}

@media (max-width: 624px){
  //home page
  //change header img to be above title
  header.home .wrapper {
    flex-direction: column-reverse;
    .title {
      margin-top: 90px;
      h1 {
        padding-left: 5rem;
        padding-right: 20px;
      }
    }
    .headerImage {
      margin-top: 20px;
    }
  }
  // change gallery grid to 1 column
  main.home .gallery > ul:nth-child(1) {
  grid-template-columns: 1fr;
  margin: 0 auto;
  }

}



/* Landscape phones and down */
@media (max-width: 480px) {
    html {
      font-size: 90%;
    }
  
    main.home .detailedLinks {
      padding-left: 12px;
    }
  }