// sass variables or functions (put up here if any are used in the partials)

// googled convert px to rem and found this site where I got the function from https://dev.to/nikolab/convert-px-to-rem-using-sass-3-methods-4ep2

@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

// sass partials 
@import "setup";
@import "colors";
@import "textStyling";
@import "forms";
@import "footer";
@import "blog";


// put sass variables here if they use anything from the partials



// general styles
// wrapper
 .wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    display: flex;
  }

// images
img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}



// header styles
header {
  background-color: $orangeyYellow;
}

// home page header
header.home {
  h1 {
    position: relative;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .wrapper {
    justify-content: space-evenly;
    align-items: center;
  }

  .headerImage {
    width: 40%;
    max-width: 320px;
    box-shadow: 20px 20px white;
    margin-bottom: toRem(-50);
  }
  img.text {
    position: absolute;
  }
}

//blog page header
header.blog {
  .background {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-position: 100% 0;
    height: 40vh;
  }

  h1 {
    padding-top: 325px;
    margin: 0;
    font-size: 3.5rem;
  }
}

//contact page header
header.contact {
  .background {
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
  }
  h1 {
    padding-top: 330px;
    padding-left: 20px;
    margin: 0;
    font-size: 3.5rem;
  }
}

// nav styles
nav {
  justify-content: center;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      text-transform: uppercase;
      line-height: toRem(29);
      padding: 20px;
      a {
        letter-spacing: toRem(1);
        text-decoration: none;
        color: $black;
      }
      a.white {
        color: $whiteText;
      }
      h5 {
        margin: 0;
      }
      &:nth-of-type(3){
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    
  }
}

// main styles
//home page

//end of home page main styles


// contact page
main.contact {
  background-color: $whiteShade;

    div.wrapper {
      flex-wrap: wrap;

     div.contactText {
      flex: 1 1 315px;
      background-color: white;
      // max-width: 350px;
      height: 280px;
      margin: 60px 15px 0 15px;
    
        nav.icons {
          ul {
            justify-content: flex-start;
            margin-left: 0;
            padding-left: 15px;
            li {
              padding: 40px 15px 20px 15px;
            }
              a {
                font-size: 1.6rem;
                color: $orangeyYellow;
              }
          }
        }
        address {
          font-style: normal;
          padding-left: toRem(30);
          padding-bottom: toRem(30);
            span {
              display: block;
              font-size: 1.3rem;
              font-weight: bold;
            }
        }
     }
     form {
       flex: 1 1 60%;
       margin: 58px 15px 50px 15px;
     }

    }
}
//end of contact page main styles


//media queries
// home page


//blog page


//contact page

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
 
  .contact {
    .wrapper {
      width: 95%;
    }
  }
}

@media (max-width: 560px){
  header.contact {
    li {
      padding: 20px 10px;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  // HELP: why isn't this working???
  html {
    font-size: 95%;
  }
  // header.contact {
  //   h1 {
  //     font-size: 2.2rem;
  //     }  
  //   }
  }