// sass variables or functions (put up here if any are used in the partials)

// googled convert px to rem and found this site where I got the function from https://dev.to/nikolab/convert-px-to-rem-using-sass-3-methods-4ep2

@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

// sass partials 
@import "setup";
@import "colors";
@import "textStyling";
@import "forms";
@import "footer";
@import "headerNav";
@import "blog";
@import "contact";


// put sass variables here if they use anything from the partials
@mixin buttonAnchors {
  margin: 0;
  padding: 10px 25px;
  background-color: $accent;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: toRem(1);
}

@mixin roundIcons {
  background-color: $orangeyYellow;
  border-radius: 50%;
  font-size: 1.3rem;
  position: absolute;
  left: -70px;
  padding: 15px;
}

// general styles
// body
// got this suggestion from stackoverflow to get rid of horizontal scroll when I couldn't figure out what was causing it; not sure if it's best practice
body{
    overflow-x:hidden;
}
// wrapper
.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

//image styles
img {
  max-width: 100%;
  display: block;
}

// header styles
header {
  background-color: $orangeyYellow;
}

// home page styles
// home page header
header.home {
  
  .wrapper {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  
  div.wrapper:nth-child(2) {
    padding-top: 40px;
    justify-content: space-between;
    width: 90%;
  }

  
  .title {
    // flex: 1 2 40%;
    position: relative;
    h1 {
      position: relative;
      padding-left: 5rem;
    }
    img.text {
      top: -67px;
      position: absolute;
    }
  }

  .headerImage {
    width: 40%;
    margin-bottom: toRem(-50);
    // flex: 2 1 60%;
    img {
      box-shadow: 20px 20px white;
    }
  }
}

//home page main styles
main.home {
  // about section
  .about {
    background-color: $whiteShade;
    .wrapper {
      display: flex;
      flex-direction: column;
      padding: 120px 100px 140px 0;
      a.button {
        @include buttonAnchors;
        align-self: flex-start;
      }
    }
  }
  // favourites section
  .favourite {
    display: flex;
    .favouriteImage {
      flex: 1 1 50%;
      background-color: $rustRed;
      position: relative;
      height: 400px;
      margin-top: -20px;
      img {
        max-width: 650px;
        position: absolute;
        right: 20px;
        top: -20px;
      }
      }
    .favouriteText {
      flex: 2 1 50%;
      padding: 80px 100px 0 100px;
      a.button {
        @include buttonAnchors;
        width: 170px;
      }
    }
  }
  // travels section
  .travels {
    display: flex;
    padding-top: 60px;
    .travelsText {
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;
      padding: 20px 100px 140px 100px;
      text-align: right;
      padding-top: 0px;
      a.button {
        @include buttonAnchors;
        align-self: flex-end;
      }
    }
    .travelsImage {
      flex: 2 1 50%;
      background-color:$orangeyYellow;
      position: relative;
      margin-top: 40px;
      height: 400px;
      img {
        position: absolute;
        max-width: 650px;
        top: -20px;
        left: -20px;
      }
    }
  }
  // detailed links section
  .detailedLinks {
    background-color: $whiteShade;
    margin-top: -50px;
    padding-top: 50px;
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 60px;
      padding: 80px 0 40px 40px;
        a {
          text-decoration: none;
          position: relative;
          color: $black;
          padding-top: 11px; 
        }
        i {
          @include roundIcons;
        }
        .about, .contact{
          padding-left: 20px;
        }

      .photos, .blog {
        padding-right: 50px;
      }
        .grid {
          h3 {
            padding-top: 10px;
          }
        }
    }
  }

  // figure 
    figure {
      margin: 0;
      background-color: $whiteShade;
      img{
        margin: 0 auto;
      }
    }
  // journey section
  .journey {
    background-color: $whiteShade;
    padding-top: 100px;
    padding-bottom: 30px;
    .journeyImage {
    flex: 2 1 30%;
    position: relative;
    background: orange;
    height: 280px;
    max-width: 280px;
      img {
        position: absolute;
        max-width: 280px;
        top: -20px;
        left: -20px;
      }
    }
    .journeyText {
    flex: 1 1 65%;
    padding: 100px 50px;
    padding: 0 0 80px 100px;
    p {
      padding: 15px 0
    }
      a.button {
        @include buttonAnchors;
      }
    }
  }
  // gallery section
  .gallery {
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 40px;
      padding: 80px 0;
    }
  }
}
//end of home page main styles





//media queries
@media (max-width: 1280){
  //reduce img text width and h1 font-size 

.title > h1:nth-child(2) {
 font-size: 5.7rem;
}

// header.home .title {
//     .text {
//       width: 42%;
//     }
//     h1 {
//       font-size: 5.8rem;
//     }
// }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  //home page
  // reduce size of header and text image 
  header.home .wrapper {
    display: flex;
    width: 90%;
    .title {
      h1 {
        font-size: 5rem;
        padding-right: 3rem;
      }
      .text {
      width: 37%;
      top: -45px;
      }

    }
  }
  main.home {
    h2 {font-size: 2.2rem;}
    h3 {font-size: 1.7rem;}
    p {font-size: 1.2rem;}
    .about .wrapper {
      padding-right: 55px;
    }
    .favourite .favouriteText {
      padding: 60px 50px 0 50px;
    }
    .travels {
      .travelsText{
        padding: 5px 65px 65px 45px;
      }
      .travelsImage {
        margin-top: 30px;
      }
    }  
    .journey {
      .wrapper {
        width: 85%;
        .journeyText {
          padding-bottom: 44px;
          flex-basis: 70%;
        }
      }
    }
  }
    
}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  //home page
  header.home .wrapper .title{
    h1{
      font-size: 4rem;
      padding-top: 2rem;
    }
    .text {
      width: 33%;
      top: 12px;
      left: 25px;
    }
  }
  main.home {
    .about .wrapper{padding-right: 0;}
    .favourite{
      flex-direction: column;
      .favouriteImage img {
        position: relative;
      }
    }
    .travels {
      flex-direction: column-reverse;
      .travelsImage img {
        position: relative;
      }
      .travelsText {
        padding-top: 50px;
        padding-bottom: 100px;
      }
    }
    .detailedLinks {
      padding-top: 0;
    }
    .journey {
      padding-top: 55px;
        .journeyText {
          padding-left: 0;
          padding-bottom: 30px;
        }
        .journeyImage {
          display: none;
        }
      }
  }
}

@media (max-width: 624px){
  //home page
  //change header img to be above title
  header.home div.wrapper:nth-child(2) {
    flex-direction: column-reverse;
    .title {
      margin-top: 90px;
      h1 {
        padding-left: 5rem;
        padding-right: 20px;
      }
    }
  }
}



/* Landscape phones and down */
@media (max-width: 480px) {
    html {
      font-size: 90%;
    }
  
  }