@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
  color: #2c2c2c;
}

h1, h2, h3, h4, h5, button {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-family: "Lora", serif;
  font-size: 5rem;
  line-height: 5.75rem;
  letter-spacing: 0rem;
}

h2, h3, h4, h5 {
  font-size: 2.625rem;
}

h3 {
  font-size: 2rem;
}

h4, h5 {
  font-size: 1.5rem;
}

h5 {
  font-family: "Lora", serif;
}

p {
  font-size: 1.25rem;
  letter-spacing: 0rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f0efed;
}
form input[type=text],
form input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 210px;
          flex: 1 1 210px;
  height: 65px;
  padding-left: 20px;
  border: none;
  margin: 8px 4px;
  font-style: italic;
}
form textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  resize: none;
  padding: 20px 0 0 20px;
  border: none;
  margin: 10px 4px;
  font-style: italic;
}
form button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background-color: #05afc1;
  padding: 10px;
  margin: 0 4px;
}

footer {
  background-color: #2c2c2c;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 10px;
  color: #f6f6f6;
}

main.blog {
  background-color: #f0efed;
  padding-bottom: 50px;
}
main.blog div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}
main.blog div.wrapper div.additionalInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  margin: 0 10px;
}
main.blog div.wrapper div.additionalInfo aside.about,
main.blog div.wrapper div.additionalInfo aside.recentPosts {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
}
main.blog div.wrapper div.additionalInfo aside.about a,
main.blog div.wrapper div.additionalInfo aside.recentPosts a {
  text-decoration: none;
  color: #285e64;
}
main.blog div.wrapper div.additionalInfo aside.recentPosts h4 {
  margin: 30px 0 15px 0;
}
main.blog div.wrapper div.additionalInfo aside.recentPosts ul {
  list-style: none;
  padding-left: 30px;
}
main.blog div.wrapper div.additionalInfo aside.recentPosts li a {
  color: #2c2c2c;
}
main.blog div.wrapper div.additionalInfo aside.recentPosts li::before {
  content: "•";
  color: #f6a823;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
main.blog div.wrapper div.blogPosts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65%;
          flex: 1 1 65%;
}
main.blog div.wrapper div.blogPosts article {
  background-color: white;
  padding: 40px 40px 30px 40px;
  margin: 0 4px 20px 4px;
}
main.blog div.wrapper div.blogPosts article h3 {
  margin: 0;
}
main.blog div.wrapper div.blogPosts article strong {
  color: #285e64;
}
main.blog div.wrapper div.blogPosts article .thumbnail {
  min-width: 90px;
}
main.blog div.wrapper div.blogPosts article .content {
  padding-left: 20px;
}
main.blog div.wrapper div.blogPosts article a {
  text-decoration: none;
  color: #285e64;
  font-style: italic;
}
main.blog div.wrapper div.blogPosts article:first-of-type, main.blog div.wrapper div.blogPosts article:last-of-type {
  border-bottom: 4px solid #f6a823;
}
main.blog div.wrapper div.blogPosts article:first-of-type > p:nth-child(8) {
  margin-bottom: 0;
}
main.blog div.wrapper div.blogPosts article:nth-of-type(2) {
  margin: 20px 4px;
}
main.blog div.wrapper div.blogPosts article:not(:first-of-type) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main.blog div.wrapper div.blogPosts article:not(:first-of-type) p {
  margin: 0;
}

main.contact {
  background-color: #f0efed;
}
main.contact div.wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main.contact div.wrapper div.contactText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 315px;
          flex: 1 1 315px;
  background-color: white;
  height: 280px;
  margin: 60px 15px 0 15px;
}
main.contact div.wrapper div.contactText nav.icons ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0;
  padding-left: 15px;
}
main.contact div.wrapper div.contactText nav.icons ul li {
  padding: 40px 15px 20px 15px;
}
main.contact div.wrapper div.contactText nav.icons ul a {
  font-size: 1.6rem;
  color: #f6a823;
}
main.contact div.wrapper div.contactText address {
  font-style: normal;
  padding-left: 1.875rem;
  padding-bottom: 1.875rem;
}
main.contact div.wrapper div.contactText address span {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
}
main.contact div.wrapper form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin: 58px 15px 50px 15px;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

header {
  background-color: #f6a823;
}

header.home h1 {
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
}
header.home .wrapper {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.home .headerImage {
  width: 40%;
  max-width: 320px;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
  margin-bottom: -3.125rem;
}
header.home img.text {
  position: absolute;
}

header.blog .background {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: 100% 0;
  height: 40vh;
}
header.blog h1 {
  padding-top: 335px;
  margin: 0;
  font-size: 3.5rem;
}

header.contact .background {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
}
header.contact h1 {
  padding-top: 330px;
  padding-left: 20px;
  margin: 0;
  font-size: 3.5rem;
}

nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  text-transform: uppercase;
  line-height: 1.8125rem;
  padding: 20px;
}
nav ul li a {
  letter-spacing: 0.0625rem;
  text-decoration: none;
  color: #2c2c2c;
}
nav ul li a.white {
  color: #f6f6f6;
}
nav ul li h5 {
  margin: 0;
}
nav ul li:nth-of-type(3) {
  padding-top: 0;
  padding-bottom: 0;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .contact .wrapper {
    width: 95%;
  }
}
@media (max-width: 560px) {
  header.contact li {
    padding: 20px 10px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  html {
    font-size: 95%;
  }
}